.header {
    width: 100%;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: rgb(56, 54, 54);
}

.title {
    display: flex;
    text-decoration: none;
    color: #ff764c;
    margin-left: 20px;
}

.title:hover {
    opacity: .7;
}

.button {
    height: 30px;
    padding: 8px 16px;
    border: none;
    background: #4b4b5a;
    border-radius: 20px;
    margin: 30px 20px 0 0;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    opacity: .5;
}
